.cd-image-container {
  /*wrapper for image (and video - desktop only)*/
  max-width: 226px;
  margin: 0 auto;
  padding-top: 50px;
  float:center;
}
.cd-image-container > div {
  position: relative;
}
.cd-image-container img {
  display: block;
}
.cd-image-container video {
  display: none;
}

@media only screen and (min-width: 850px) {
  .cd-image-container {
    float: center; /*right;*/
  }

  .cd-single-item:nth-child(2n) .cd-image-container {
   /* float: left;*/
  }
}



.cd-phone-frame {
  /* Phone in CSS */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -45px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-color: #2c2c2c;
  border-style: solid;
  border-width: 45px 10px;
  border-radius: 2.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/*these are the iPhone circle elements*/

.cd-phone-frame::after, .cd-phone-frame::before {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 50%;
}

.cd-phone-frame::before {
  height: 11px;
  width: 11px;
  top: -28px;
}

.cd-phone-frame::after {
  height: 31px;
  width: 31px;
  bottom: -38px;
}

/*
img {
  max-width: 100%;
}
*/

.phone_img {
  max-width: 100%;
}

.cd-image-container img {
  display: block;
}


/* form index.html */

      .hidden.menu {
      display: none;
      }
      .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
      }
      .masthead .logo.item img {
      margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
      }
      .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
      }
      .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
      }
      .ui.vertical.stripe {
      padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
      font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
      margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
      clear: both;
      }
      .ui.vertical.stripe p {
      font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
      }
      .quote.stripe.segment {
      padding: 0em;
      }
      .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
      }
      .footer.segment {
      padding: 5em 0em;
      }
      .secondary.pointing.menu .toc.item {
      display: none;
      }
      @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
      display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
      display: none;
      }
      .secondary.pointing.menu .toc.item {
      display: block;
      }
      .masthead.segment {
      min-height: 350px;
      }
      .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
      }
      .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
      }
      }

/*part II*/
 .masthead.segment {
      min-height: 0px;
      padding: 1em 0em;
      }
      .ui.vertical.segment {
      border-bottom: 1px solid rgba(0, 0, 0, 0); */
      }
      a {
      color: #000000;
      }
      lk {
      cursor: pointer;
      }
      .ui.secondary.inverted.menu lk.item {
          color: rgba(255,255,255,.7)!important;
      }
      .ui.secondary.inverted.menu lk.item:hover {
          color: #fff!important;
      }
      lk.item:hover {
          color: #fff!important;
      }

      .ui.celled.grid > .row > .column {
    box-shadow: none;
}



.custom-margin-logo{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.image.logo-home{
  max-width: 800px
}

.text-app-show{
  text-align: justify;
}

.contact-text-area{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 168px;
}